{
    "debug": {
        "showConsole": false,
        "createLog": true,
        "logDecryption": false,
        "logLevelConsole": 2,
        "logLevelFile": 1
    },
    "patches": {
        "SSL": true,
        "AuthKey": true
    },
    "ra3bn": {
        "delegate": false,
        "clientDll": "",
        "logFolder": "",
        "waitSeconds": 120
    },
    "proxy": {
        "enable": false,
        "listenPort": 18840,
        "destinationPort": 18840,
        "secure": false
    },
    "game": {
        "gameKey": "",
        "peerchatPort": 0
    },
    "hostnames": {
        "host": "http.server.cnc-online.net",
        "login": "login.server.cnc-online.net",
        "gpcm": "gpcm.server.cnc-online.net",
        "peerchat": "peerchat.server.cnc-online.net",
        "master": "master.server.cnc-online.net",
        "natneg": "natneg.server.cnc-online.net",
        "stats": "gamestats.server.cnc-online.net",
        "sake": "sake.server.cnc-online.net",
        "server": "server.cnc-online.net"
    }
}
